*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'GoogleSans';
    src: url("../font/ProductSans-Regular.ttf");
} 

body{
    width: 100%;
    font-family: 'GoogleSans';
    overflow: hidden;
 
 background-image: url("/Hackathon/assets/img/fond.jpg");
}
#container{
   
    background-size: cover;

}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-height: 100px;
}

.head #logo{
padding-top: 40px;
padding-left: 0;
margin-left: 0;

}
.head

nav ul {
    font-weight: 400;
    display: flex;
    justify-content: flex-end;

}
li, a{
    padding: 15px;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}

li a:hover {
    color: rgb(114, 114, 177);
}

.content{
 
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
 h1{
    text-align:center;
     margin-top:50px;
     font-size: 3rem;
     
}



 p{
    font-size: 1.5rem;
    color: rgb(54, 54, 121);
    line-height: 1.6;
    text-align: center;
}

.bloc{
    border: 1px solid black;
    margin-right: 10px;
    margin-left: 10px;
    padding: 25px;
    font-size: 1.5rem;
    width: 400px;
}
.btn-go, .btn-go a{
   text-align: center;
   margin-top: 40px;
    font-size: 1.5rem;
   
}

 .choix{
    margin-right: 10px;
}
.btn-go a{
    color: white;
     background-color: rgb(114, 114, 177);
     border-radius: 5px;
 }

.btn-go a:hover{
    background-color: rgb(119, 197, 119);
    color: black;
}
.container{
    display:flex; align-items: center; justify-content: center; margin-top:40px;
}