* {
  padding: 0;
  margin: 0;

}

@font-face {
  font-family: 'GoogleSans';
  src: url("../font/ProductSans-Regular.ttf");
}

body {
  height: 100vh;
  font-family: 'GoogleSans';
  background-image: url("/Hackathon/assets/img/fond.jpg");
  overflow: hidden;
}

#progressBar {
  width: 20rem;
  height: 25px;
  border-radius: 20px;
  border: 2px solid rgb(54, 54, 121);
  /* margin-top: 1.5rem; */
 
}

#progressBarFull {
  height: 25px;
  background-color: rgb(54, 54, 121);
  width: 0%;
  border-radius: 20px;
}

.score {
  margin: auto;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin-left: 350px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  perspective: 1000px;
  margin-top: 10px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  /* padding: 20px; */
  position: absolute;
  border-radius: 5px;
  background: burlywood;
  backface-visibility: hidden;
}


.front-face {
  transform: rotateY(180deg);
}

.container {
  display: flex;
}

#wrapper {
  border: 1px solid rgb(70, 67, 67);
  border-style: dotted;
  width: 200px;
  margin-top: 80px;
  margin-left: 50px;
  height: 200px;
  padding: 15px;
  font-size: 2rem;
  text-align: center;
  color: rgb(54, 54, 121);
  border-radius: 50%;
}


.btn-manche {
  color: white;
  background-color: rgb(114, 114, 177);
  border-radius: 5px;
  margin-left: 90vw;
}

.btn-manche:hover {
  background-color: rgb(119, 197, 119);
  color: black;
}

div #chrono{
  margin-top: 9vh;
}